.title {
    font-size: 1.2rem;
  }
  
  .app {
    color: #3ea8f0;
  }
  
  .get {
    color: #e0b719;
  }
  
  .dotis {
    color: #c45c2f;
  }
  
  .titleHeading {
    background-color: #162447;
    color: white;
    text-align: center;
    padding: 5% 0;
  }
  
  .titleHeading h1 {
    font-size: 3rem;
    font-family: "DM Mono", monospace;
  }
  
  .titleHeading h2 {
    font-size: 2rem;
  }
  
  .heroImage {
      width: 500px;
      margin-top: 5%;
  }