.contactSection {
    text-align: center;
    padding-top: 80px;
    color: #162447
}

.contactMe {
    padding-bottom: 30px;
}

.iconSection {
    margin: 100px 0;
}

.image {
    width: 300px;
    border-radius: 100%;
    margin: 1rem;
}

.message {
    margin: 50px;
}

a {
    color: #162447;
    padding: 30px;
}
  
a:hover {
    color: #1b6ca8;
}