.container {
  background-color: #1f4068;
  text-align: center;
  padding: 20px 0;
  color: white;
}

.icon {
  color: white;
  padding: 30px 20px;
}

.icon:hover {
  color: #1b6ca8;
}

.copyright {
  padding-top: 20px;
}
